<div class="row chat-window col-xs-5 col-md-3" id="chat_window_1">
  <div class="col">
    <div class="panel panel-default">
      <div class="panel-heading top-bar">
        <div class="col">
          <h3 class="panel-title">Chat met een huisarts</h3>
        </div>
      </div>
      <div class="panel-body msg_container_base">
        <div class="row msg_container base_sent">
          <div class="col-md-10 col-xs-10">
            <div class="messages msg_sent">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXRgrTH69Hi8YbrhZJjCkD7ZP5Av1sWJTc6g&usqp=CAU"
                class="img-thumbnail">
              <p>Hoi, ik ben de dienstdoende huisarts. Waar kan ik u mee helpen?</p>
              <time datetime="2021-12-10T20:00">Huisarts • 51 min</time>
            </div>
          </div>
        </div>
        <div class="row msg_container base_receive">
          <div class="col-md-10 col-xs-10">
            <div class="messages msg_receive">
              <img src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg"
                   class="img-thumbnail">
              <p>Ik heb een vraag</p>
              <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
            </div>
          </div>
        </div>
        <div class="row msg_container base_sent">
          <div class="col-md-10 col-xs-10">
            <div class="messages msg_sent">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXRgrTH69Hi8YbrhZJjCkD7ZP5Av1sWJTc6g&usqp=CAU"
                class="img-thumbnail">
              <p>Hoi, ik ben de dienstdoende huisarts. Waar kan ik u mee helpen?</p>
              <time datetime="2021-12-10T20:00">Huisarts • 51 min</time>
            </div>
          </div>
        </div>
        <div class="row msg_container base_receive">
          <div class="col-md-10 col-xs-10">
            <div class="messages msg_receive">
              <img src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg"
                   class="img-thumbnail">
              <p>Ik heb een vraag</p>
              <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
            </div>
          </div>
        </div>
        <div class="row msg_container base_sent">
          <div class="col-md-10 col-xs-10">
            <div class="messages msg_sent">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXRgrTH69Hi8YbrhZJjCkD7ZP5Av1sWJTc6g&usqp=CAU"
                class="img-thumbnail">
              <p>Hoi, ik ben de dienstdoende huisarts. Waar kan ik u mee helpen?</p>
              <time datetime="2021-12-10T20:00">Huisarts • 51 min</time>
            </div>
          </div>
        </div>
        <div class="row msg_container base_receive">
          <div class="col-md-10 col-xs-10">
            <div class="messages msg_receive">
              <img src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg"
                   class="img-thumbnail">
              <p>Ik heb een vraag</p>
              <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer mt-2">
        <div class="input-group">
          <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Typ een bericht..."/>
          <span class="input-group-btn">
                        <button class="btn btn-primary ms-1" id="btn-chat">Verzend</button>
                        </span>
        </div>
      </div>
    </div>
  </div>
</div>
