<app-begin-knop></app-begin-knop>
<h1 class="text-center"><i class="bi bi-file-earmark-medical"></i> Mijn medicijnen</h1>
<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Medicijn</th>
      <th>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#bijsluiter"><i class="bi bi-book"></i></button>
      </th>
      <th>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#receptBestellen"><i class="bi bi-receipt"></i></button>
      </th>
      <th>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#vraagStellen"><i class="bi bi-lightbulb"></i></button>
      </th>
      <th>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#FAQ"><i class="bi bi-question"></i></button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Omeprazol</th>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#bijsluiter"><i class="bi bi-book"></i></button>
      </td>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#receptBestellen"><i class="bi bi-receipt"></i></button>
      </td>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#vraagStellen"><i class="bi bi-lightbulb"></i></button>
      </td>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#FAQ"><i class="bi bi-question"></i></button>
      </td>
    </tr>
    <tr>
      <th scope="row">Acebutolol</th>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#bijsluiter"><i class="bi bi-book"></i></button>
      </td>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#receptBestellen"><i class="bi bi-receipt"></i></button>
      </td>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#vraagStellen"><i class="bi bi-lightbulb"></i></button>
      </td>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#FAQ"><i class="bi bi-question"></i></button>
      </td>
    </tr>
    <tr>
      <th scope="row">Ursodeoxycholzuur</th>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#bijsluiter"><i class="bi bi-book"></i></button>
      </td>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#receptBestellen"><i class="bi bi-receipt"></i></button>
      </td>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#vraagStellen"><i class="bi bi-lightbulb"></i></button>
      </td>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#FAQ"><i class="bi bi-question"></i></button>
      </td>
    </tr>
    <tr>
      <th scope="row">Xylometazoline</th>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#bijsluiter"><i class="bi bi-book"></i></button>
      </td>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#receptBestellen"><i class="bi bi-receipt"></i></button>
      </td>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#vraagStellen"><i class="bi bi-lightbulb"></i></button>
      </td>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#FAQ"><i class="bi bi-question"></i></button>
      </td>
    </tr>
    <tr>
      <th scope="row">Flucloxacilline</th>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#bijsluiter"><i class="bi bi-book"></i></button>
      </td>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#receptBestellen"><i class="bi bi-receipt"></i></button>
      </td>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#vraagStellen"><i class="bi bi-lightbulb"></i></button>
      </td>
      <td>
        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#FAQ"><i class="bi bi-question"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="bijsluiter" tabindex="-1" aria-labelledby="bijsluiterLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="bijsluiterLabel">Bijsluiter</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Dit icoon opent het venster om de bijsluiter van uw medicijn te kunnen inzien.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary col" data-bs-dismiss="modal">Sluiten
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="receptBestellen" tabindex="-1" aria-labelledby="receptBestellenLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="receptBestellenLabel">Recept bestellen</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Dit icoon opent het venster om het medicijn opnieuw te bestellen.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary col" data-bs-dismiss="modal">Sluiten
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="vraagStellen" tabindex="-1" aria-labelledby="vraagStellenLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="vraagStellenLabel">Vraag stellen</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Dit icoon opent het venster waar dat u een vraag kunt stellen over het medicijn.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary col" data-bs-dismiss="modal">Sluiten
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="FAQ" tabindex="-1" aria-labelledby="FAQLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="FAQLabel">FAQ</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Dit icoon opent het venster waar dat u veelgestelde vragen, en het antwoord daarop, kunt vinden over het medicijn.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary col" data-bs-dismiss="modal">Sluiten
        </button>
      </div>
    </div>
  </div>
</div>
