<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Huisartsen praktijk Veendam</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
              aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarColor02" style="">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/home']" data-bs-toggle="collapse"
               data-bs-target=".navbar-collapse.show"><i class="bi bi-house-door"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/help']" data-bs-toggle="collapse"
               data-bs-target=".navbar-collapse.show"><i class="bi bi-info-circle"></i> Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-auto" [routerLinkActive]="['active']" [routerLink]="['/profiel']"
               data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><i class="bi bi-person-circle"></i>
              Profiel</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>

<!-- Begin page content -->
<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>


<!--<footer class="footer mt-auto py-3 bg-light">-->
<!--  <div class="container text-center">-->
<!--    <span class="text-muted">SPOED</span>-->
<!--  </div>-->
<!--</footer>-->
